* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    font-size: 70px;
}

.container h4 {
    font-size: 40px;
}

.container p {
    font-size: 30px;
}

.container form {
    margin-top: 60px;
}

.container form label {
    display: inline-block;
    width: 150px;
    font-size: 20px;
}

form .inputField{
    margin: 20px auto;
}

.container form input{
    width: 300px;
    height: 50px;
    outline: none;
    border: 1px solid #0000006c;
    border-radius: 10px;
    padding-left: 10px;
}

.registerbutton{
    background-color: #758BFD;
    width: 300px;
    height: 50px;
    border: 1px solid #0000006c;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    font-weight: 350;
    padding-left: 10px;
    transform: translateY(-25%);
    transition: .5s;
}

.cancelbutton{
    width: 300px;
    height: 50px;
    outline: none;
    border: 1px solid #0000006c;
    border-radius: 10px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    font-weight: 350;
    background-color: #758BFD;
}

.clickbid{
    font-size: .9em;
    text-align: center;
    margin: 25px 0 10px;
    font-weight: 500;
}

