* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    font-size: 70px;
}

.container h4 {
    font-size: 40px;
}

.container p {
    font-size: 30px;
}

.container form {
    margin-top: 60px;
}

.container form label {
    display: inline-block;
    width: 150px;
    font-size: 20px;
}

form .inputField{
    margin: 20px auto;
}

.container form input{
    width: 300px;
    height: 50px;
    outline: none;
    border: 1px solid #8176766c;
    border-radius: 10px;
    padding-left: 10px;
}