* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

body{
    margin: 0 180px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.logo img{
    width: 180px;
}

.nav {
    font-size: 20px;
    color: #655C5C;
    display: flex;
}

.nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav ul li{
    padding-right: 60px;
    font-weight: 550;
}

a{
    color: #655C5C;
    text-decoration: none;
}

a:active{
    color: #758BFD;
}

.notification img{
    width: 30px;
}

.loginSignup button{
    background-color: #758BFD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 52px;
    width: 250px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    padding-right: 10px;
    color: white;
    font-weight: 520;
}

.loginSignup button img{
    height: 30px;
    margin-left: 16px;
}

.hero {
    margin-top: 5px;
    height: 600px;
    width: 100%;
    background-color: #F8F8FA;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
    border-bottom-left-radius: 20px;
}


.hero{
    display: flex;
}

.hero .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.hero .left h1{
    font-size: 60px;
    text-align: justify;
}

.hero .right{
    width: 50%;
}


.hero .right img{
    width: 100%;
}