* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body {
    margin: 0 120px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.logo img {
    width: 180px;
}

.nav {
    font-size: 20px;
    color: #655C5C;
    display: flex;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    padding-right: 60px;
    font-weight: 700;
    display: inline-block;
}

a {
    color: #655C5C;
    text-decoration: none;
}

a:active {
    color: #758BFD;
}

.notification img {
    width: 30px;
}

.loginSignup button {
    background-color: #758BFD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 52px;
    width: 250px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    padding-right: 10px;
    color: white;
    font-weight: 700;
}

.loginSignup button img {
    height: 30px;
    margin-left: 16px;
}

.main{
    height: auto;
}

.upperSection{
    width: 100%;
    height: 950px;
    display: flex;
}

.leftSection{
    height: 900px;
    width: 60%;
}

.itemImages{
    display: flex;
    margin-top: 25px;
}

.imageList{
    width: 120px;
    height: 700px;
    margin-top: 30px;
}

.imageList .imageContainer{
    width: 100px;
    height: 100px;
    border: 4px solid #674848;
    margin: 20px 0;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imageList .imageContainer img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.selectedImage{
    width: 700px;
    height: 770px;
    border: 2px solid black;
    overflow: hidden;
    margin-left: 35px;
    display: flex;
    justify-content: center;
}

.selectedImage img{
    object-fit: contain;
    width: 700px;
    height: 770px;
}

.rightSection{
    height: 800px;
    width: 45%;
}

.top{
    width: 100%;
}

.top p{
    font-size: 35px;
    line-height: 60px;
    font-weight: 500;
}

.bidCard{
    background-color: #F8F8F8;
    margin-top: 25px;
    border: 1px solid rgba(51, 51, 51, 0.445);
    height: auto;
    min-height: 700px;
    width: 600px;
    border-radius: 20px;
    padding-left: 45px;
    padding-top: 45px;
}

.biddingSection{
    display: flex;
    justify-content: center;
}

.biddingSection form{
    margin-top: 30px;
    width: 100%;
}

.biddingSection form .bidInput{
    display: block;
    width: 500px;
    height: 60px;
    border-radius: 20px;
    border: 0.5px solid rgba(133, 133, 133, 0.438);
    padding-left: 20px;
    font-size: 20px;
    color: black;
    outline: none;
}

.bidInput:focus{
    border: 0.5px solid rgba(133, 133, 133, 0.438);
}

.biddingSection form .submit{
    height: 60px;
    width: 520px;
    border: none;
    background-color: #758BFD;
    border-radius: 30px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.bidCard hr{
    width: 90%;
    height: 3px;
    background-color: #bdbbbb;
    border: none;
    margin-top: 40px;
}

.biddedUser{
    margin-top: 40px;
}

.biddedUser table{
    margin-top: 25px;
    width: 100%;
    text-align: left;
}

.biddedUser p{
    margin-top: 30px;
    font-size: 25px;
}

.biddedUser button{
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

.biddedUser button img{
    width: 20px;
}

.lowerSection{
    margin-left: 200px;
}

.title{
    font-size: 40px;
}

.lowerSection h3{
    font-size: 25px;
}

.lowerSection .margin{
    margin: 40px auto;
}

.margin li,.margin p{
    font-size: 18px;
    line-height: 30px;
}

footer{
    width: 100%;
    height: 500px;
    margin-top: 10%;
    background-color: #F8F8FA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.socialLinks{
    background-color: #758BFD;
    width: 80%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialLinks img{
    width: 30px;
    padding-left: 15px;
    padding-top: 5px;
}

.footerMenus{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.footerMenus a{
    font-size: 18px;
    margin: 2px 0;
}

.footerMenus div{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    top: 0;
}

.footerMenus h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.footerMenus hr{
    transform: rotate(0deg);
    transform-origin: center;
    height: 300px;
    background-color: #D9D9D9;
}
