* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body {
    margin: 0 120px;
}

section{
    max-width: 1800px;
    min-width: 200px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main{
    height: auto;
}

.upperSection{
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: space-between;
}

.leftSection{
    height: 900px;
    width: 60%;
}

.itemImages{
    display: flex;
    margin-top: 25px;
}

.imageList{
    width: 120px;
    height: 700px;
    margin-top: 30px;
}

.imageList .imageContainer{
    width: 100px;
    height: 100px;
    margin: 20px 0;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 4px solid #674848;
}

.imageList .imageContainer img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.selectedImage{
    width: 700px;
    height: 770px;
    border: 2px solid black;
    overflow: hidden;
    margin-left: 35px;
    display: flex;
    justify-content: center;
}

.selectedImage img{
    object-fit: contain;
    width: 700px;
    height: 770px;
}

.rightSection{
    height: 800px;
}

.top{
    width: 100%;
}

.top p{
    font-size: 35px;
    line-height: 60px;
    font-weight: 500;
}

.statusMsg {
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
}

.bidCard{
    background-color: #F8F8F8;
    margin-top: 25px;
    border: 1px solid rgba(51, 51, 51, 0.445);
    height: 730px;
    min-height: 700px;
    width: 600px;
    border-radius: 20px;
    padding-left: 45px;
    padding-top: 45px;
    padding-right: 28px;
}

.biddingSection{
    display: flex;
    justify-content: center;
}

.biddingSection form{
    margin-top: 30px;
    width: 100%;
}

.biddingSection form .bidInput{
    display: block;
    width: 500px;
    height: 60px;
    border-radius: 20px;
    border: 0.5px solid rgba(133, 133, 133, 0.438);
    padding-left: 20px;
    font-size: 20px;
    color: black;
    outline: none;
}

.bidInput:focus{
    border: 0.5px solid rgba(133, 133, 133, 0.438);
}

.biddingSection form .submit{
    height: 60px;
    width: 520px;
    border: none;
    background-color: #758BFD;
    border-radius: 30px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.bidCard hr{
    width: 90%;
    height: 3px;
    background-color: #bdbbbb;
    border: none;
    margin-top: 40px;
}

.biddedUser{
    margin-top: 40px;
}

.biddedUser table{
    width: 100%;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 1;
}

tbody {
    display: block;
    max-height: 145px;
    overflow-y: auto;
    width: 100%;
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.biddedUser p{
    margin-top: 30px;
    font-size: 25px;
}

.biddedUser button{
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

.biddedUser button img{
    width: 20px;
}

.lowerSection{
    margin-left: 200px;
}

.lowerSection h3{
    font-size: 25px;
}

.lowerSection .margin{
    margin: 40px auto;
}

.lowerSection .title h2{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.lowerSection .title p{
    width: 800px;
}

.margin li,.margin p{
    font-size: 18px;
    line-height: 30px;
}

.userDropdown{
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    background-color: #e0f3ff;
    z-index: 100;
    right: 120px;
    top: 61px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #8E8E8E;
    overflow: hidden;
    padding: 16px;
    padding-right: 30px;
    justify-content: center;
    flex-direction: column;
}

.userPP{
    width: 80px;
}

.userDropdown .hr-line{
    width: 90%;
    height: 0.1px;
    background-color: #655C5C;
    margin: 30px auto ;
}

.profile {
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
}

.profile p{
    font-size: 16px;
    color: #8E8E8E;
}

.user-info{
    display: flex;
    flex-direction: column;
}

.profile button{
    margin-top: 15px;
    height: 40px;
    width: 120px;
    background-color: orange;
    border: none;
    color: black;
    border-radius: 20px;
}

.user-menu{
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}

.menu{
    display: flex;
    flex-direction: column;
}

.logout{
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}

.logout button{
    width: 100px;
    height: 35px;
    font-size: 17px;
}

input[type="number"]{
    -moz-appearance: textfield;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
