* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.dashboard {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: auto;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #0800ff;
}

.main-content {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
}

#theme-toggle {
    padding: 10px 15px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    height: auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card img {
    width: 100px;

}

.card h3 {
    margin-bottom: 10px;
    font-size: 50px;
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.card p {
    font-size: 26px;
    color: #555;
    margin: 8px 0;
}

.card p:nth-child(2),
.card p:nth-child(3),
.card p:nth-child(4),
.card p:nth-child(5) {
    font-weight: bold;
    color: #222;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .sidebar {
    background-color: #1e1e1e;
}

body.dark-mode .sidebar ul li a {
    color: #e0e0e0;
}

body.dark-mode #theme-toggle {
    background-color: white;
    color: black;
}

body.dark-mode .card {
    background-color: #2a2a2a;
    color: #e0e0e0;
}

.right-window {
    position: fixed;
    top: 0;
    right: -400px; /* Hidden initially */
    width: 400px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.right-window.show {
    right: 0; /* Slide in */
}

.window-content {
    padding: 20px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

