* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body {
    margin: 0 120px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.logo img {
    width: 180px;
}

.nav {
    font-size: 20px;
    color: #655C5C;
    display: flex;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav ul li {
    padding-right: 60px;
    font-weight: 700;
}

a {
    color: #655C5C;
    text-decoration: none;
}

a:active {
    color: #758BFD;
}

.notification img {
    width: 30px;
}

.loginSignup button {
    background-color: #758BFD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 52px;
    width: 250px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    padding-right: 10px;
    color: white;
    font-weight: 700;
}

.loginSignup button img {
    height: 30px;
    margin-left: 16px;
}

.hero {
    margin-top: 10px;
    height: 690px;
    width: 100%;
    background-color: #F8F8FA;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    display: flex;
}

.leftnright {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.hero .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.hero .left .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 55px;
}

.hero .left h1 {
    font-size: 110px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    line-height: 100px;
}

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.slogan p {
    font-size: 20px;
    line-height: 24px;
    color: #655C5C;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    position: relative;
}

.searchInput {
    height: 58px;
    border: 0.1px solid #ccc7c74d;
    color: #655C5C;
    border-radius: 30px;
    font-size: 18px;
    padding-left: 24px;
    width: 450px;
}

.searchInput:focus {
    outline: none;
}

.searchBox button {
    background-color: #758BFD;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    width: 160px;
    height: 45px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
}

.searchBox button img {
    width: 18px;
    padding-right: 12px;
}

.hero .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}


.hero .right img {
    width: 100%;
    padding-bottom: 45px;
}

.categoryTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.categoryTitle hr {
    width: 300px;
    height: 1px;
    background-color: black;
}

.categoryBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 80px;
    background-color: #758BFD;
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 30px;
}

.categories {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.categoryBoxes {
    width: 100%;
    height: 900px;
    margin-top: 100px;
    position: relative;
}

.autoMobiles {
    background-color: #232533;
    width: 45%;
    height: 100%;
    position: absolute;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.autoMobiles h1 {
    position: relative;
    font-size: 90px;
    line-height: 80px;
    color: white;
    left: 60px;
}

.autoMobiles button {
    position: relative;
    left: 60px;
    width: 300px;
    height: 80px;
    background-color: #758BFD;
    color: white;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    margin-top: 75px;
    border-radius: 35px;
    font-size: 28px;
}

.autoMobiles button img {
    width: 40px;
    padding-right: 10px;
}

.autoMobiles .automobilesImage {
    position: relative;
    width: 80%;
    left: 60px;
    top: 10%;
}

.vintageItems {
    width: 50%;
    height: 45%;
    background-color: #674848;
    position: absolute;
    left: 50%;
    border-radius: 25px;
}

.vintageItems h1 {
    color: white;
    font-size: 55px;
    line-height: 70px;
    position: relative;
    left: 65px;
    top: 50px;
}

.vintageItems .vintageImage {
    width: 330px;
    position: absolute;
    top: 32px;
    left: 450px;
}

.vintageItems button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    background-color: #758BFD;
    border: none;
    color: white;
    position: relative;
    left: 65px;
    top: 90px;
    border-radius: 25px;
    font-size: 20px;
}

.vintageItems button img {
    width: 38px;
    margin-right: 10px;
}

.arts {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24%;
    height: 50%;
    background-color: #4B61AC;
    border-radius: 20px;
    color: white;
}

.arts h1 {
    position: relative;
    top: 20px;
    left: 40px;
    font-size: 60px;
}

.arts button {
    width: 220px;
    height: 55px;
    background-color: #758BFD;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 25px;
    position: relative;
    left: 40px;
    top: 30px;
}

.arts button img {
    width: 38px;
    margin-right: 12px;
}

.artsImage {
    position: relative;
    width: 350px;
    top: 60px;
    left: 40px;
}

.viewCategory {
    position: absolute;
    top: 50%;
    left: 75%;
    width: 24%;
    height: 50%;
    background-color: #8E8E8E;
    margin-left: 17px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.viewCategory img {
    width: 220px;
}

.viewCategory button {
    width: 250px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #758BFD;
    border: none;
    border-radius: 25px;
    color: white;
    margin-top: 25px;
    font-size: 18px;
}

.viewCategory button img {
    width: 38px;
    margin-right: 5px;
}

.topItems {
    width: 100%;
    height: 1500px;
    background-color: #f8f8f8;
    margin-top: 150px;
    border-radius: 50% / 180px;
    position: relative;
    display: flex;
    justify-content: center;
}

.TopItemsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: absolute;
    top: 10%;
}

.TopItemsTitle hr {
    width: 300px;
    height: 1px;
    background-color: black;
}

.TopItemsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 80px;
    background-color: #758BFD;
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 30px;
}

.topItemsList {
    position: absolute;
    top: 25%;
    width: 95%;
    height: 700px;
}

.topItemContainer {
    width: 400px;
    height: 550px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    position: relative;
}

.imageContainer1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.imageContainer {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 0.5px #8e8e8e46 solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.imageContainer img {
    width: 100%;
    object-fit: contain;
}

.itemDetails {
    margin-top: 40px;
    position: absolute;
    left: 16%;
}

.itemDetails h2{
    margin-bottom: 25px;
}

.bidButton {
    width: 100px;
    padding: 10px 0;
    background-color: #758BFD;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 40px;
    margin-top: 15px;
    border: none;
    position: absolute;
    left: 40%;
    top: 552px;
}