* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body {
    margin: 0 120px;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
}

.nav {
    font-size: 18px;
    color: #655C5C;
    display: flex;
    position: relative;
}

.nav .navList {
    display: flex;
    list-style: none;
}

.nav .navList li {
    padding: 0 20px;
    font-weight: 700;
}

a {
    color: #655C5C;
    text-decoration: none;
}

a:active {
    color: #758BFD;
}

.notification img {
    width: 30px;
}

.loginSignup button {
    background-color: #758BFD;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 230px;
    border: none;
    border-radius: 40px;
    padding-right: 10px;
    color: white;
    font-weight: 600;
}

.loginSignup button img {
    height: 50%;
    margin-left: 16px;
    margin-right: 20px;
}

.dropDownCategory{
    display: none;
}

.navList li:hover .dropDownCategory{
    position: absolute;
    display: flex;
    width: 400px;
    height: 300px;
    padding: 40px;
    background-color: #758BFD;
    z-index: 20;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropDownCategory ul {
    display: block;
    list-style: none;
}

.dropDownCategory ul li {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
}

.dropDownCategory ul li:hover {
    font-weight: 600;
}

.dropDownCategory a{
    color: white;
    font-size: 19px;
    font-weight: 600;
    transition: font-size 0.2s, transform 0.2s;
}

.dropDownCategory a:hover{
    font-size: 20px;
}

section{
    max-width: 1800px;
    min-width: 200px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.TopSection {
    background-color: #F8F8FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 10px;
    border-bottom: 2px solid #D9D9D9;
}

.TotalAuction {
    margin-left: 40px;
}

.TotalAuction h2,
p {
    display: inline-block;
    font-size: 30px;
}

.TotalAuction p {
    color: #655C5C;
}

.searchBox {
    width: auto;
    position: relative;
}

.searchBox input {
    height: 70px;
    width: 700px;
    border-radius: 40px;
    padding-left: 30px;
    outline: none;
    border: none;
    font-size: 18px;
}

.searchBox button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #758BFD;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBox button img {
    width: 18px;
    margin-right: 10px;
}

.PerPageButton {
    width: auto;
    font-size: 16px;
    display: block;
    margin-right: 30px;
}

.PerPageButton select {
    width: 50px;
    height: 30px;
    background-color: #758BFD;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 5px;
}

.main {
    display: flex;
}

.leftSection {
    background-color: #F8F8FA;
    width: 600px;
    padding-left: 50px;
    height: 1500px;
}

.leftSection .title h3 {
    font-size: 40px;
    font-weight: 600;
}

.filterSection h4 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.filterSection .Categories {
    border-bottom: 10px solid black;
}

.filterSection ul {
    list-style: none;
    margin-top: 10px;
}

.filterSection ul input {
    margin-right: 30px;
    width: 20px;
    height: 20px;
}

.filterSection ul li {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.filterSection hr {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
}

.leftSection .title {
    margin-top: 40px;
    margin-bottom: 50px;
}

.locationSection label {
    font-size: 20px;
    font-weight: 500;
    margin-right: 15px;
}

.locationSection select {
    background-color: #758BFD;
    width: 200px;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    padding-left: 20px;
    appearance: none;
    background-image: url('../../assets/icons/down.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 18px;
}

.startingSection label {
    display: inline-block;
    width: 200px;
}

.price label {
    font-size: 20px;
    font-weight: 500;
}

.startingSection div {
    margin: 8px auto;
}

.price input {
    height: 35px;
    border-radius: 10px;
    border: 0.5px solid #655C5C;
    font-size: 17px;
    outline: none;
    padding-left: 10px;
}

.rightSection {
    width: 90%;
    height: auto;
    min-height: 1500px;
}

.ItemCard {
    padding: 50px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.rightSection hr {
    background-color: #D9D9D9;
    border: none;
    outline: none;
    height: 2px;
}

.imageCard {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 3px solid rgba(122, 122, 122, 0.651);
}

.item-Bottom {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.imageCard img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.itemRight {
    margin-left: 50px;
    width: 100%;
}

.itemRight .itemTitle h3 {
    font-weight: 400;
    font-size: 25px;
}

.itemRight .itemDescription {
    width: 80%;
}

.itemRight .itemDescription p {
    font-size: 18px;
}

.item-Bottom {
    width: 100%;
}

.item-Bottom .itemLinks a {
    color: #758BFD;
    font-size: 18px;
}

.item-Bottom .itemLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item-Bottom button {
    width: 180px;
    height: 45px;
    margin-top: 20px;
    background-color: #758BFD;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
}

.navigation .btnLogin-popup:hover {
    background: #ffffff;
    color: #758BFD;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
}

.loginBg {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(73, 73, 73, 0.24);
    backdrop-filter: blur(10px);
}

.loginForm {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper {
    position: sticky;
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 20%;
    left: 40%;
    transform: scale(0);
    transition: transfrom .5s ease, height .2s ease;
    z-index: 20;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .from-box {
    width: 100%;
    padding: 40px;
}

.wrapper .from-box.login {
    transition: transfrom .18s ease;
    transform: translateX(0);
}

.wrapper.active .from-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .from-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .from-box.register {
    transition: transfrom .18s ease;
    transform: translateX(0);
    width: 320px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #758BFD;
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}



.from-box h1 {
    font-size: 2em;
    color: #758BFD;
    text-align: center;
    font-weight: 600;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #758BFD;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #758BFD;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #1f0bd4aa;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #d512b8e2;
    margin-right: 3px;
}

.remember-forgot {
    color: #674848;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #758BFD;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #000000fd;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #758BFD;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #758BFD;
    text-decoration: none;
    font-weight: 600;
}

.login-register a:hover {
    text-decoration: underline;
}